/* - Main Global Variables - */

//Fonts
//TODO: Booth Fonts are not working in Firefox. Discuss with Designer / Upload font as file.
$primary-fontFamily: ArialMT;
$primary-fontFamilyBold: Arial-BoldMT;


//Colors
$highlight-color: #00AEEF;
$primaryBrand-color: #002856;

$primaryFont-color: #000000;
$secondaryFont-color: #444444;

$primaryBK-color: #F0F0F0;
$secondaryBK-color: #E2E2E2;

$tileBorder-color: #D1D1D1;
$inputBorder-color: #979797;
$hrBorder-color: #CCCCCC;